{# default_frame.twigを継承して共通のヘッダー、フッターを表示するにはdtb_page_layout に登録が必要 #}
{% extends 'default_frame.twig' %}

{% set body_class = 'postarticle_page' %}

{% block main %}
    {{ hello }}
    {{ form_start(form, {'action': url('admin_PostArticle_edit',{'id': article.id}), 'methods': 'post'}) }}
    <p>タイトル</p>
    {{ form_widget(form.title ,{'value': article.title}) }}
    <p>コンテンツ</p>
    {{ form_widget(form.content ,{'value': article.content}) }}
    {{ form_end(form) }}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

    <script type="text/javascript">
    tinymce.init({

        selector: 'textarea',
    });

    </script>
{% endblock %}